 nav {
    background-color: #16423C;
}

footer {
    background-color: #16423C;
    color: #E9EFEC;
}

a.menugleison {
    color: #E9EFEC;
}
a.formacao {
    color: #16423C;
}

th.tblWidth{
    width: 20%;
}

.text-justify {
    text-align: justify;
}
a.formacao {
.topBcgFormacao{
    background-color: #16423C;
    width: 26%;
}

.topBcgExp{
    background-color: #16423C;
    width: 28%;
}

.topBcgEnd{
    background-color: #16423C;
    width: 50%;
}
